:focus,
:hover {
    animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition: 250ms;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
    margin-bottom: 0;
}

ul,
ol {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}


ul {
    list-style: none;
}

a {
    text-decoration: none;
}


body {
    background-color: #FFF;
    font-family: "Roboto", sans-serif;
    color: #434455;
}



.menue-mob {
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 24px 0;
}

.logo-dark {
    color: #2E2F42;
}

.logo-light {
    color: #F4F4FD;

}

.menu-item {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;

    padding: 24px 0;
    position: relative;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-item:hover {
    color: #404bbf
}

.menu-item:focus {
    color: #404bbf
}

.container {
    max-width: 320px;
    padding-left: 16px;
    padding-right: 16px;
}

/* mobile */
/* mobile header */

.menue {
    display: none;
}

.contact_list {
    display: none;
}


.page-header-contanier {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 16px;
    padding-bottom: 16px;
    gap: 149px;

}

.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;

    /*margin-right: 76px;*/
    display: flex;
    align-items: center;
}

.logo-dark {
    color: #2E2F42;
}

.logo-light {
    color: #F4F4FD;

}
.page-navigation {
    display: flex;
}

.menu {
    background-color: #FFFFFF;
    border-bottom: 1px solid #e7e9fc;
    color: #2E2F42;

    box-shadow: 0 2px 1px rgba(46, 47, 66, 0.08),
    0 1px 1px rgba(46, 47, 66, 0.16),
    0 1px 6px rgba(46, 47, 66, 0.08);

}

.mobile-open-btn {
    border: none;
    background-color: transparent;

    width: 24px;
    height: 24px;
    line-height: 0;
    margin: 0 auto;
    display: flex;
    padding: 0;
}



/* PROMO CONTAINER */
.promo {
    background-color: #2e2f42;


    background-image: linear-gradient(rgba(46, 47, 66, 0.7),
    rgba(46, 47, 66, 0.7)), url(../images/people-office.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    max-width: 1440px;
    padding-top: 72px;
    padding-bottom: 72px;
    height: 432px;


}

.promo-text {
    color: #FFF;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    letter-spacing: 0.02em;
    margin-left: auto;
    margin-right: auto;
    line-height: 1.11;
    margin-bottom: 72px;
    width: 169px;


}
.btn_buy_service {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    background-color: #4D5AE5;

    margin: auto;
    display: block;

    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;


    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}




.about {
    background-color: #FFF;
    padding: 96px 0;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.list_articles_about {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    font-weight: 500;
    padding-right: 8px;

}
.about_info {
    display: flex;
    flex-direction: column;
    gap: 72px;
}

.about_us_list {

    display: flex;
    flex-direction: column;
    gap: 8px;

}

.about_titles_list {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-align: center;


}
.icon {

    align-items: center;
    justify-content: center;
    height: 112px;
    background-color: #f4f4fd;
    border-radius: 4px;
    margin-bottom: 8px;
    border: 1px solid #8E8F99;
    display: none;


}

.other_icon {

}

/* TEAM SECTION */
.team {
    background-color: #F4F4FD;
    padding: 96px 0;

}
.team_title {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
    margin-bottom: 72px;
    font-weight: 700;
}



.team-list {
    display: flex;
    flex-direction: column;
    gap: 72px;
    align-items: center;
}
.team_li {
    background-color: #FFFFFF;
    border-radius: 0 0 4px 4px;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}
.emploi {
    padding: 32px 0;
}
.team_titles {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;

    text-align: center;
    margin-bottom: 8px;
}
.team_articles {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
}
.social_list  {
    display: flex;
    text-align: center;
    justify-content: center;
    padding-top: 8px;
    gap: 24px;
}

.social_list_link{
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social_list_icon {
    display: flex;
    text-align: center;
    justify-content: center;
    fill: #f4f4fd;
}
.subscribe {
    display: flex;
    flex-direction: column;
    justify-content: center;
gap: 16px;
    align-items: center;

}

.sub_p {
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;

}
.sub_btn {
    min-width: 165px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    background-color: #4D5AE5;
    border: none;
    border-radius: 4px;
}

.sub_icon {
    margin-left: 16px;
}
.form_sub {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
}
.imput_sub_email {
    width: 264px;
    height: 40px;
    border: 1px solid #ffffff;
    background-color: transparent;
    font-size: 12px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    padding-left: 16px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    color: #ffffff;


}


input {
    background: transparent;
    width: 264px;
    height: 40px;
    flex-shrink: 0;
}


.sub_btn {
    min-width: 165px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    background-color: #4D5AE5;
    border: none;
    border-radius: 4px;
}

.sub_icon {
    margin-left: 16px;
}

/* PORTFOLIO SEC*/
.portfolio {
    background-color: #FFF;
    padding-top: 96px;
    padding-bottom: 96px;
}
.benefits {
    margin-bottom: 72px;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;

}
.list_portfolio {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;

}
.portfolio_list {
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.transform {
    position: relative;
    overflow: hidden;

}
.trans_par {
    position: absolute;
    top: 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    padding: 40px 32px;
    background-color: #4d5ae5;
    height: 100%;
    width: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);}
.annex {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}
.portfolio_titles {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;

    margin-bottom: 8px;
}
.portfolio_articles {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
/* FOOTER SECTION */
.aside {
    background-color: #2E2F42;
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
    padding: 100px 0;

    height: 664px;
display: block;
}
 .social {

    display: flex;
    flex-direction: column;
    gap: 72px;
}
.low_info {
    display: flex;
    flex-direction: column;
    gap: 17.5px;
    width: 264px;
    align-items: flex-start;
}
 .logo-web {
     font-family: Raleway;
    color: #4D5AE5;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;

}
.logo-light {
    color: #F4F4FD;
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;

}
.aside_article {
    line-height: 1.5;
    color: #F4F4FD;
    letter-spacing: 0.02em;

    text-align: justify;

}
.dark-logo {
    color: #4D5AE5;
    font-size: 18px;
    font-weight: 700;


}

.light-logo {
    color: #F4F4FD;
    font-size: 18px;
    font-weight: 700;


}
.social_last_list {

    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
    padding-top: 16px;
    padding-bottom: 16px;

}
.social_media_name {
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    text-align: start;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #FFFFFF;



}
.social_media_last {
    display: flex;
    text-align: center;
    justify-content: center;

    gap: 16px;
}
.social_list_item {
    display: inline-flex;
    width: 40px;
    height: 40px;
    background-color: #4D5AE5;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/* MOBILE MENU */
.mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999999999;

}

.fixed_menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 320px;
    height: 640px;
    z-index: 999999999;
    background-color: #FFF;
    transform: translateX(100%);
}
.fixed_menu.is-open {
    transform: translateX(0%);
    transition: transform 250ms linear;
}
.mobile_menu_close_btn {
    border-radius: 50%;
    line-height: 0;
    width: 24px;
    height: 24px;
    background-color: #E7E9FC;
    border: 1px solid rgba(0, 0, 0, 0.10);
    position: absolute;
    top: 24px;
    right: 24px;


}
.mobile_menu {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-top: 72px;
    margin-bottom: 168px;


}
.mobile-menu-item {
    color: #2E2F42;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}
.mobile-menu-item:hover {
    color: #404BBF;
}
.mobile-contact-item {
    color: #434455;
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
}
.mobile-contact-item:hover {
    color: #4D5AE5;
}
.mobile-social_list {
    display: flex;
    gap: 40px;
    margin-top: 40px;
    margin-bottom: 48px;
}
.mobile-contact_list {
    display: flex;
    flex-direction: column;
    gap: 24px;

}
.mobile-menu-social {
  margin-bottom: 40px;
}
/* BACKDROP */
.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.40);
    z-index: 9999999999;

    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);

}
.backdrop.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 288px;
    min-height: 584px;
    background-color: #FCFCFC;
    border-radius: 4px;
    padding: 72px 24px 24px 24px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-close {
    fill: #2E2F42;
    stroke-width: 1px;
    stroke: rgba(0, 0, 0, 0.10);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.modal_close_btn {
    border-radius: 50%;
    line-height: 0;
    position: absolute;
    top: 24px;
    right: 24px;
    background-color: #E7E9FC;
    border: 1px solid rgba(0, 0, 0, 0.10);
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);


}

.modal_close_btn:hover .icon-close,
.modal_close_btn:focus .icon-close {
    fill: #fff;
    background-color: #404bbf;
    border: none;

}

.modal_close_btn:hover,
.modal_close_btn:focus {
    fill: #fff;
    background-color: #404bbf;
    border: none;
}


.modal_text {
    width: 256px;
    color: #2E2F42;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-bottom: 16px;
}
/* BACKDROP FORM*/
/* form */

.lbl_name,
.lbl_tel,
.lbl_email,
.lbl_comment {
    display: block;
    color: #8E8F99;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.17;
    letter-spacing: 0.04em;
    margin-bottom: 4px;

}

.input_field {
    width: 100%;
    height: 40px;
    border-radius: 4px;
    border: 1px solid rgba(46, 47, 66, 0.40);
    background-color: transparent;
    padding-left: 38px;
    margin-bottom: 8px;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);


}

.input_field:focus {
    border-color: #4D5AE5;
    outline-color: transparent;
    outline-offset: 4px;
}

.input_field:focus + .review_form_field_icon {
    fill: #4D5AE5;
}

.modal_form_field {
    margin-bottom: 8px;


}

.review_form_field_icon {
    fill: #2E2F42;
    position: absolute;
    top: 50%;
    left: 16px;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);


}

.review_form_input_wrapper {
    position: relative;
}

/* textarea */

.modal_form_comment {
    margin-bottom: 16px;

}

.form_comment {
    width: 100%;
    height: 120px;
    border-radius: 4px;
    border: 1px solid rgba(46, 47, 66, 0.40);
    resize: none;
    padding: 8px 16px;
    margin-top: 4px;
    background-color: transparent;
    outline: transparent;

    font-size: 12px;
    font-weight: 400;
    line-height: 1.17;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
}


.form_comment::placeholder {
    color: rgba(46, 47, 66, 0.4);
}

.form_comment:focus {
    border-color: #4D5AE5;
    outline-color: transparent;
    outline-offset: 4px;

}

.checkbox_cont {
    margin-bottom: 24px;
}

.reviev-form-checkbox-label {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
}

.checkbox_span {
    width: 16px;
    height: 16px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    fill: transparent;
}

.reviev-form-checkbox:checked + .reviev-form-checkbox-label > .checkbox_span {
    fill: #F4F4FD;
    border: none;
    background-color: #404bbf;;
}


.privacy-policy-link {
    color: #4d5ae5;
    width: 231px;

}

.reviev-form-btn {
    display: block;
    height: 56px;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    background-color: #4D5AE5;
    border: none;
    border-radius: 4px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    min-width: 169px
}


.policy_icon {
    display: block;
    width: 16px;
    height: 16px;
    stroke-width: 1px;
    stroke: rgba(46, 47, 66, 0.40);
}
/* common styles  */
@media screen and (min-width: 768px) {
    .container {
        max-width: 768px;
    }
/* header */
    .mobile-open-btn {
        display: none;
    }

    .page-header-contanier {
        gap: 120px;}

    .menue {
        display: flex;
        gap: 40px;
        

    }

    .logo {
        margin-right: 120px;
    }

    .contact_list {
        display: flex;
        flex-direction: column;
        gap: 12px;


    }

    .contact-item {
        color: #434455;
        font-size: 12px;
        font-weight: 400;
        line-height: 1.17;
        font-style: normal;
        letter-spacing: 0.04em;
    }

    .menu-item {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;

        padding: 24px 0;
        position: relative;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .menu-item:hover {
        color: #404bbf
    }

    .menu-item:focus {
        color: #404bbf
    }

    /*    about */
    .about_info {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        column-gap: 24px;
        row-gap: 48px;

    }

    .about_us_list {

        display: flex;
        flex-direction: column;
        align-items: flex-start;
        flex-basis: calc((100% - 24px) / 2);
    }
/*    team */
    .team-list {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        column-gap: 24px;
        row-gap: 64px;
        justify-content: center;
    }
    .team_li {
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-basis: calc((100% - 208px) / 2);
        width: 264px;
    }
    .team_titles {

    }
/*    portfolio */
    .list_portfolio{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        column-gap: 24px;
        row-gap: 72px;
        justify-content: center;
    }
    .portfolio_list{
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-basis: calc((100% - 208px) / 2);
        width: 356px;
    }
    .annex {
        display: flex;
        flex-direction: column;
        padding: 32px 16px;
        align-items: flex-start;
        text-align: start;
        gap: 8px;
        width: 100%;
        border: 1px solid #e7e9fc;
        border-top: none;
    }

   /* footer  */
.social{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 72px;
    padding-left: 92px;
    padding-right: 92px;
}
.logo-web {
    display: flex;
    justify-content: start;
    padding-top: 16px;
    padding-bottom: 16px;
}
.social_last_list {
    align-items: start;
}
.subscribe {
    align-items: start;
}
.form_sub {
    flex-direction: row;
    gap: 24px;
}
.label_form_sub {
    width: 264px;
}
/* promo */
    .promo-text {
        width: 496px;
        font-size: 56px;
        margin-bottom: 36px;
        margin-top: 61px ;
    }
/*    modal form */
    .modal {
        width: 408px;
    }
    .modal_text {
        width: 360px;
    }
}


@media screen and (min-width: 1158px) {
    .container {
        max-width: 1158px;
        margin: 0 auto;
        padding: 0 15px;

    }
    .icon {
        display: flex;
    }
    /*.contact_list {*/
    /*    flex-direction: row;*/

    /*}*/
    /*.page-header-contanier {*/
    /*    display: flex;*/
    /*    align-items: center;*/
    /*    justify-content: space-between;*/

    /*}*/
    .menu {
        background-color: #FFFFFF;
        border-bottom: 1px solid #e7e9fc;
        color: #2E2F42;

        box-shadow: 0 2px 1px rgba(46, 47, 66, 0.08),
        0 1px 1px rgba(46, 47, 66, 0.16),
        0 1px 6px rgba(46, 47, 66, 0.08);
    }


    .menu-item a:hover {
        color: #404BBF;
    }

    .menu-item a:focus {
        text-decoration: underline;
    }




    .logo {
        font-family: "Raleway", sans-serif;
        font-weight: 700;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #4d5ae5;

        margin-right: 76px;

    }

    .menue {
        display: flex;
        gap: 40px;
        padding: 24px 0;
    }

    .logo-dark {
        color: #2E2F42;
    }

    .logo-light {
        color: #F4F4FD;

    }

    .menu-item {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        padding: 24px 0;
        position: relative;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        color: #2E2F42;
        font-style: normal;

    }

    .menu-item:hover {
        color: #404bbf
    }

    .menu-item:focus {
        color: #404bbf
    }
    .current {
        position: relative;
        color: #404BBF;

    }

    .current::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: -1px;
        display: block;
        width: 100%;
        height: 4px;
        border-radius: 2px;
        background-color: #404bbf;

    }
    .contact_list {
        display: flex;
        flex-direction: row;
        gap: 40px;

    }




    .header_container {
        display: flex;
        align-items: center;
    }

    .contacts {
        font-style: normal;
        margin-left: auto;
    }

    .contact-item {
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;

        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .contact-item:hover {
        color: #404bbf;
    }

    .contact-item:focus {
        color: #404bbf;
    }

    .btn_buy_service {
        font-family: "Roboto", sans-serif;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.04em;
        color: #ffffff;
        cursor: pointer;
        background-color: #4D5AE5;

        margin: auto;
        display: block;

        min-width: 169px;
        height: 56px;
        border: none;
        border-radius: 4px;

        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .btn_buy_service:hover {
        background-color: #404BBF;
    }

    .btn_buy_service:focus {
        background-color: #404BBF;
    }
    .promo {
        height: 600px;
        padding: 188px 0;
    }
    .promo-text {
        margin: 0 auto 48px;
    }
    /* about us */
    .about {
        padding: 120px 0;
    }

    .about_info {
        display: flex;

        gap: 24px;
    }

    .icon {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 112px;
        background-color: #f4f4fd;
        border-radius: 4px;
        margin-bottom: 8px;
        border: 1px solid #8E8F99;
    }
    .about_us_list {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        flex-basis: calc((100% - 3*24px) / 4);
        width: 264px;

    }
    .icon {
        width: 264px;
    }
    .about_titles_list {
        color: #2E2F42;
        font-family: Roboto;
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: 1.2;
        letter-spacing: 0.02em;
    }
    .list_articles_about {
        color: #434455;
        font-family: Roboto;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 1.5;
        letter-spacing: 0.02em;
        padding-right: 0;

    }
/*   team  */
    .team_li {
        flex-basis: auto;
    }
    .portfolio_list{
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-basis: calc((100% - 415px) / 2);
        width: 360px;

    }
/*   footer  */
    .aside {
        padding-top: 96px;
        padding-bottom: 96px;
        background-color: #2e2f42;
        height: 312px;

    }
.low_info {
    display: flex;
    justify-content: start;
    margin-right: 120px;
    gap: 0;
}
.social_last_list {
    margin-right: 32px;
}
.social {
    align-items: center;
    justify-content: center;
}
}

