:focus,
:hover {
    animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition: 250ms;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
    margin-bottom: 0;
}

ul,
ol {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}


ul {
    list-style: none;
}

a {
    text-decoration: none;
}


body {
    background-color: #FFF;
    font-family: "Roboto", sans-serif;
    color: #434455;
}



.menue-mob {
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 24px 0;
}

.logo-dark {
    color: #2E2F42;
}

.logo-light {
    color: #F4F4FD;

}

.menu-item {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;

    padding: 24px 0;
    position: relative;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-item:hover {
    color: #404bbf
}

.menu-item:focus {
    color: #404bbf
}

.container {
    max-width: 319px;
    padding-left: 16px;
    padding-right: 16px;

}
/* mobile */
/* mobile header */

.menue {
    display: none;
}

.contact_list {
    display: none;
}


.page-header-contanier {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 16px;
    padding-bottom: 16px;
    gap: 149px;

}

.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;

    /*margin-right: 76px;*/
    display: flex;
    align-items: center;
}

.logo-dark {
    color: #2E2F42;
}

.logo-light {
    color: #F4F4FD;

}
.page-navigation {
    display: flex;
}

.menu {
    background-color: #FFFFFF;
    border-bottom: 1px solid #e7e9fc;
    color: #2E2F42;

    box-shadow: 0 2px 1px rgba(46, 47, 66, 0.08),
    0 1px 1px rgba(46, 47, 66, 0.16),
    0 1px 6px rgba(46, 47, 66, 0.08);

}

.mobile-open-btn {
    border: none;
    background-color: transparent;

    width: 24px;
    height: 24px;
    line-height: 0;
    margin: 0 auto;
    display: flex;
    padding: 0;
}

.mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 320%;
    height: 100%;
    z-index: 999999999999;
    background-color: #FFF;
}


.mobile-menu-close-btn-icon {
    width: 8px;
    height: 8px;
}

/* PROMO CONTAINER */
.promo {
    background-color: #2e2f42;


    background-image: linear-gradient(rgba(46, 47, 66, 0.7),
    rgba(46, 47, 66, 0.7)), url(../images/people-office.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    max-width: 1440px;
    padding-top: 72px;
    padding-bottom: 72px;
    height: 432px;


}

.promo-text {
    color: #FFF;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    letter-spacing: 0.02em;
    margin-left: auto;
    margin-right: auto;
    line-height: 1.11;
    margin-bottom: 72px;
    width: 169px;


}
.btn_buy_service {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    background-color: #4D5AE5;

    margin: auto;
    display: block;

    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}




.about {
    background-color: #FFF;
    padding: 96px 0;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.list_articles_about {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    font-weight: 500;
    padding-right: 8px;

}
.about_info {
    display: flex;
    flex-direction: column;
    gap: 72px;
}

.about_us_list {

    display: flex;
    flex-direction: column;
    gap: 8px;

}

.about_titles_list {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-align: center;


}
.icon {

    align-items: center;
    justify-content: center;
    height: 112px;
    background-color: #f4f4fd;
    border-radius: 4px;
    margin-bottom: 8px;
    border: 1px solid #8E8F99;
    display: none;


}

.other_icon {

}

/* TEAM SECTION */
.team {
    background-color: #F4F4FD;
    padding: 96px 0;

}
.team_title {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
    margin-bottom: 72px;
}
.team-list {
    display: flex;
    flex-direction: column;
    gap: 72px;
    align-items: center;
}
.team_li {
    background-color: #FFFFFF;
    border-radius: 0 0 4px 4px;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}
.emploi {
    padding: 32px 0;
}
.team_titles {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;

    text-align: center;
    margin-bottom: 8px;
}
.team_articles {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
}
.social_list  {
    display: flex;
    text-align: center;
    justify-content: center;
    padding-top: 8px;
    gap: 24px;
}
.social_list_item {
    display: inline-flex;
    width: 40px;
    height: 40px;
    background-color: #4D5AE5;
    border-radius: 50%;
    justify-content: center;
    align-items: center;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social_list_link{
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social_list_icon {
    display: flex;
    text-align: center;
    justify-content: center;
    fill: #f4f4fd;
}
.subscribe {
    display: flex;
    flex-direction: column;
    justify-content: center;
gap: 16px;
    align-items: center;

}

.sub_p {
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;

}
.sub_btn {
    min-width: 165px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    background-color: #4D5AE5;
    border: none;
    border-radius: 4px;
}

.sub_icon {
    margin-left: 16px;
}
.form_sub {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
}
.imput_sub_email {
    width: 264px;
    height: 40px;
    border: 1px solid #ffffff;
    background-color: transparent;
    font-size: 12px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    padding-left: 16px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    color: #ffffff;


}


input {
    background: transparent;
    width: 264px;
    height: 40px;
    flex-shrink: 0;
}


.sub_btn {
    min-width: 165px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    background-color: #4D5AE5;
    border: none;
    border-radius: 4px;
}

.sub_icon {
    margin-left: 16px;
}

/* PORTFOLIO SEC*/
.portfolio {
    background-color: #FFF;
    padding-top: 96px;
    padding-bottom: 96px;
}
.benefits {
    margin-bottom: 72px;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;

}
.list_portfolio {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;

}
.portfolio_list {
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.transform {
    position: relative;
    overflow: hidden;

}
.trans_par {
    position: absolute;
    top: 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    padding: 40px 32px;
    background-color: #4d5ae5;
    height: 100%;
    width: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);}
.annex {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}
.portfolio_titles {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;

    margin-bottom: 8px;
}
.portfolio_articles {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
/* FOOTER SECTION */
.aside {
    background-color: #2E2F42;
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
    padding: 100px 0;

    height: 664px;

}
 .social {

    display: flex;
    flex-direction: column;
    gap: 72px;
}
.low_info {
    display: flex;
    flex-direction: column;
align-items: center;
    gap: 17.5px;
}
 .logo-web {
     font-family: Raleway;
    color: #4D5AE5;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;

}
.logo-light {
    color: #F4F4FD;
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;

}
.aside_article {
    line-height: 1.5;
    color: #F4F4FD;
    letter-spacing: 0.02em;

    text-align: justify;

}
.dark-logo {
    color: #4D5AE5;
    font-size: 18px;
    font-weight: 700;


}

.light-logo {
    color: #F4F4FD;
    font-size: 18px;
    font-weight: 700;


}
.social_last_list {

    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;

}
.social_media_name {
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    text-align: start;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #FFFFFF;



}
.social_media_last {
    display: flex;
    text-align: center;
    justify-content: center;

    gap: 16px;
}
.social_list_item {
    display: inline-flex;
    width: 40px;
    height: 40px;
    background-color: #4D5AE5;
    border-radius: 50%;
    justify-content: center;
    align-items: center;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}
/* common styles  */
@media screen and (min-width: 768px) {
    .container {
        max-width: 768px;
    }
}

@media screen and (min-width: 1158px) {
    .container {
        max-width: 1158px;
        padding-left: 15px;
        padding-right: 15px;
    }
    .icon {
        display: flex;
    }
}